#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
button {
  width: 120px;
  height: 120px;
  margin: 5px;
}
button:active {
  background-color: white;
  color: white;
}
